/*----------------------text-------------------------------*/

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 85px;
    color: #968e94;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.0;
    margin-top: 0;
    background-color: #fff2fb;
    margin: auto;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: inherit;
    margin-top: 15px;
    margin-bottom: 25px;

}

p {
    font-family: 'Raleway', sans-serif;
}

body {
    text-align: center;
    overflow-x: hidden;
}


.heading {
    background-color: #fff2fb;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #6c757d;
    text-decoration: none;
}

small {
    margin-right: 20px;
}

/*--------------------images-------------------------------*/

.profilePic {
    border-radius: 50%;
    margin: 25px 25px 25px 100px;
    width: 50%;
}

.lifephoto {
    border-radius: 50%;
    margin-top: 25px;
    width: 75%;
}

.bannerImage {
    width: 100%;
}


/*---------------------------nav bar-------------------------------*/

.nav-item {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.nav-link {
    padding: 0;
}

.navbar {
    padding: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
}


/*---------------------------cards-------------------------------*/

.card-body {
    padding: inherit;
}


/*---------------------------grid-------------------------------*/

.col-lg-4,
.col-4 {
    padding: inherit;
}

.col {
    padding: inherit;
}

.container-fluid {
    display: flex;
    background-color: #fff2fb;
    width: 100%;
    margin: inherit;
    padding: 0;
}

.row {
    margin: inherit;
}

/*--------------------------FontAwesome-------------------------------*/

.fab {
    padding-right: 15px;
}

.fa-facebook {
    color: #4267b2;
}

.fa-instagram {
    color: #cd0082;
}

.fa-etsy {
    color: #f56400;
}

.fa-pinterest {
    color: #e60022;
}


/*---------------------------contact page-------------------------------*/

.contactHeader {
    margin: auto;
}

/*---------------------------media queries-------------------------------*/

@media (min-width:320px) {
    p {
        border-left: 10px;
        border-right: 10px;

    }
}

@media (min-width:768px) {
    p {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width:1024px) {
    p {
        margin-left: 100px;
        margin-right: 100px;
    }
}


/*---------------------------about page----------------------------------*/

#timeline {
    text-align: left;
}

.timeline-item {
    margin-left: 25px;
    border-left: 1px solid;
}

.timeline-item p {
    margin-bottom: inherit;
}

.timeline-item:before {
    content: attr(data-dates);
}

/*---------------------------media page----------------------------------*/

.youtube-responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube-responsive-container iframe,
.youtube-responsive-container object,
.youtube-responsive-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}