h1 {
    font-family:'Rubik', sans-serif;
    font-size: 85px;
    color: #968e94;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.0;
    margin-top: 0;
    background-color: #fff2fb;
    margin: auto;
}

h2 {
    font-family:'Rubik', sans-serif;
    text-align: center;
    margin: inherit;
    margin-top: 15px;
    margin-bottom: 25px;
    
}

.profilePic {
    border-radius: 50%;
    margin: 25px 25px 25px 100px;
    width: 50%;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.bannerImage {
    width: 100%;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.card-body {
    padding: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.col-lg-4, .col-4{
    padding: inherit;
}

.col {
    padding: inherit;
}

.col-12 {
    padding: inherit;
}

a:hover {
    color:#6c757d;
}

body {
    text-align: center;
}

.container-fluid {
    display: flex;
    background-color: #fff2fb;
    width: 100%;
    margin: none;
    }
    
img {
  width: 100%;
}

.row {
    margin: inherit;
}

.fab {
    padding-right: 15px;
}

.fa-facebook {
    color:#4267b2;
}

.fa-instagram {
    color:#cd0082;
}
.fa-etsy {
    color:#f56400;
}

.fa-pinterest {
    color:#e60022;
}